*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html
{
    font-size: 62.5%;

}

body{
    background-color: white;
}
.container{
    background-color: blueviolet;
    margin-left: 10rem;
    margin-right: 10rem;
}

header{
    background-color: #003476;
    height: 16rem;
}
.logo
{
    height: 15rem;
    padding-left: 1rem;
    width: 15%;

} 

main{
    width: 100%;
    height: 20rem;
    border: 1rem;
    padding: 2rem 3.5rem;
    flex-wrap: wrap;
    justify-content: right;
}
.main-nav
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    

}
/*font-size: 4vh;
padding: 2rem;
display: inline-block;
font-family: Arial, Helvetica, sans-serif;
background-color: grey;
text-align: center;
margin-left: 2rem*/
.main-nav_item
{
    padding: 2rem;
    justify-content: space-around;
    display: inline-block;
    
}
.main-nav_item a
{
    
    font-size: 2rem;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem;
    color: black;
    border-radius: 1rem;
    text-decoration:none;
    background-color: red;
    margin-right: 1.6vh;
    padding-right: 1.6vh;
    
}

.main-nav_item a:hover {
    color:chartreuse;
}
.main-nav_item a:active {
    color: darkturquoise;
}
.mueble
{
    font-size: 2rem;
    width: 20%;
    padding: 1vw;
    height: 50%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style: none;
}


    /*para hacer anotaciones*/
#articulos 
{
    width: 19rem;
    height: 21.5rem;

}
.main-nav_item a:hover
{
    background-color:blue;
  

}

.main-nav_item a:active
{
    color: black;
}
.espejo{
   width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-left: 2rem; 
}
.contr{
    margin-left: 2rem;
    position: ;
    
}
.texto{
    font-size: 2rem;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3vh;
}

/*.texto
{
    width: auto;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;

}*/
footer{
    width: 100vw;
    height: 15vh;
    background-color: #b4d2f7;
}




